@import "global_variables";

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  position: relative;
  padding: 0 0 110px;
  min-height: 100%;
  font-family: sans-serif;
  background-color: $dark-grey;
  color: black;
}