$red: #A6030D;
$dark-red: rgba(166, 3, 13, 0.75);
$maroon: #230A04;
$dark-grey: #7d7772;
$grey: #8C8681;
$light-grey: #eee;
$dark-blue: #30323F;
$transparent: rgba(255, 255, 255, 0.95);
$shadow: rgba(0, 0, 0, 0.15);
$orange: #FF9800;

// social networks
$fb: #4668b3;
$fb-hover: #3557a2;
$google-plus: #d95333;
$google-plus-hover: #c84222;
$twitter: #3095d3;
$twitter-hover: #2084c2;