@import '../../main/style/global_variables';

.NotFoundPage {
  background-color: $dark-blue;
  min-height: 320px;
  padding: 50px;
  font-weight: 700;
  text-align: center;

  .title-error-404 {
    font-size: 72px;
  }
  p {
    font-size: 36px;
  }
}