@import '../../main/style/global_variables';

.WizardFormThirdPage {
  margin: auto;
  max-width: 90%;

  textarea {
    color: black;
    width: 400px;
    min-height: 400px;
    border-radius: 2rem;
    margin-top: 30px;
    padding: 10px;
    &:focus {
      outline: none;
      border: 2px solid $red;
    }
  }

  .cookingDescription {
    width: 50%;
    margin: 0 auto;
  }
}