@import '../../main/style/global_variables';

.WizardFormFirstPage {
  margin: auto;
  width: 50%;

  button.btn.btn-default {
    margin-top: 20px;
  }

  .close-button {
    margin-right: 10px;
    &:hover {
      color: $red;
    }
  }

  h4 {
    text-transform: uppercase;
    font-weight: bold;
  }

}
