@import '../../style/global_variables';

.Finder {
  min-height: 300px;
  background-color: $dark-grey;
  padding: 30px;
  text-align:center;
  margin:auto;

  h1 {
    color: white;
    text-align: center;
    font-weight: 700;
  }
}