@import '../../main/style/global_variables';

.Finder {
  min-height: 300px;
  background-color: $dark-grey;
  padding: 30px;
  text-align:center;

  .ingredients-error {
    margin-top: 30px;
    font-size: 42px;
    font-weight: 700;
    text-align: center;
    color: $red;
  }

  h1 {
    color: white;
    text-align: center;
    font-weight: 700;
    margin-bottom: 40px;
  }

  img {
    margin-bottom: 15px;
  }
}