@import '../../main/style/global_variables';

.RecipeList {
  table {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .table > tbody > tr > td, .table > thead > tr > th {
    padding: 15px;
  }

  th {
    text-transform: uppercase;
    text-align: center;
    &:hover {
      background: none;
    }
  }

  tbody > tr {
    text-align: center;
    padding: 10px;
    &:hover {
      background-color: $dark-red;
    }
    td:first-child {
      font-weight: bold;
    }
  }
}