@import '../../main/style/global_variables';

.AddToFavourites {
  .heart-icon {
    margin-left: 10px;
    &:hover {
      color: $red;
    }

    &.favourite {
      color: $red;
      &:hover {
        color: white;
      }
    }
  }
}