@import '../../style/global_variables';

.Comment {
  width: 500px;
  min-height: 50px;
  margin-top: 10px;
  text-decoration: none;
  padding: 2px 10px;
  border-left: 3px solid $red;
  font-size: 12px;
  transition: all 400ms;
  h6 {
    font-weight: 700;
  }
  .comment-content {
    word-wrap: break-word;
  }
}