@import '../../main/style/global_variables';

.Comment {
  width: 500px;
  min-height: 50px;
  margin-top: 10px;
  text-decoration: none;
  padding: 2px 10px;
  border-left: 3px solid $red;
  font-size: 12px;
  transition: all 400ms;
  a, .author {
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 14px;
    &:hover {
      color: $red;
    }
  }
  .comment-content {
    word-wrap: break-word;
  }
}