@import '../../main/style/global_variables';

.Recipe {
  background-color: $dark-blue;
  min-height: 300px;
  padding: 50px;

  h3 {
    margin-top: 40px;
    text-transform: uppercase;
    font-weight: 700;
  }

  h1 {
    margin-top: 0;
    text-transform: uppercase;
    font-weight: 700;
  }

  .row {
    margin-bottom: 20px;
  }

  .title {
    border-left: 5px solid $red;
  }

  .directions {
    margin-left: 25px;
  }
}