@import '../../style/global_variables';

.Recipe {
  background-color: $dark-grey;
  min-height: 300px;
  color: white;
  padding: 50px;
  margin-bottom: 30px;

  h1, h3 {
    text-transform: uppercase;
    font-weight: 700;
  }

  .show-grid.row {
    margin-bottom: 20px;
  }

  .glyphicon-plus:before {
    font-size: 12px;
    margin-right: 7px;
  }

  .glyphicon-heart:before {
    font-size: 36px;
    margin-left: auto;
    margin-right: auto;
  }

  .glyphicon-heart:hover {
    color: $red;
  }
}