@import '../../main/style/global_variables';

.RecipeTable {
  background-color: $light-red;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  color: white;
  table > thead > tr > th {
    border-color: $dark-grey;
  }
  th {
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
  }
  td {
    text-align: center;
  }
  tbody > tr {
    &:hover {
      background-color: transparent;
    }
  }
}