@import '../../main/style/global_variables';

.Share {
  .SocialMediaShareButton {
    display: inline-block;
    margin-right: 10px;
  }

  .fb {
    circle {
      fill: $fb;
    }
    &:hover circle {
      fill: $fb-hover;
    }
  }

  .google-plus {
    circle {
      fill: $google-plus;
    }
    &:hover circle {
      fill: $google-plus-hover;
    }
  }

  .twitter {
    circle {
      fill: $twitter;
    }
    &:hover circle {
      fill: $twitter-hover;
    }
  }
}