@import './social-colors';

.Share {
  .SocialMediaShareButton {
    display: inline-block;
    margin-right: 10px;
  }

  .fb circle {
    fill: $fb;
    &:hover {
      fill: $fb-hover;
    }
  }
  .google-plus circle {
    fill: $google-plus;
    &:hover {
      fill: $google-plus-hover;
    }
  }
  .twitter circle {
    fill: $twitter;
    &:hover {
      fill: $twitter-hover;
    }
  }
}