@import "../../main/style/global_variables";

.AuthChecking {
  text-align: center;
  background-color: $dark-blue;
  padding-top: 30px;
  padding-bottom: 30px;

  .auth-label {
    color: white;
    font-size: 26px;
    font-weight: 700;
    padding-bottom: 10px;
  }
}