@import "../../main/style/global_variables";

.Footer {
  padding: 40px;
  background-color: $light-grey;
  font-size: 14px;
  clear: both;
  position: relative;
  margin-top: -3em;
  p {
    text-align: center;
    font-weight: 700;
  }
  a {
    text-align: center;
    font-weight: 700;
    text-decoration: none;
    color: $red;
  }
}
